.is-iconpopup {
  .component__widget {
    clear: both;
  }
}

.iconpopup {
	&__inner {
		float: right;
		.dir-rtl & {
			float: left;
		}

		&.overlayed {
			position: absolute;

			right: 0;
			.dir-rtl & {
				right: inherit;
				left: 0;
	    	}
		}
	}

	&__items {
		font-size: 0;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
	}

	&__btn {
		.button-text;
		.btn-icon;

		display: flex;
		align-items: center;
		background-color: @btn-color;
		color: @btn-color-inverted;

		.no-touch &:hover {
			background-color: @btn-color-hover;
			color: @btn-color-inverted-hover;
			.transition(background-color @duration ease-in, color @duration ease-in;);
		}

		img {
			display: block;
		}

		&.iconpopup-button-states-image {

			img.iconpopup-button-image-hover,
			img.iconpopup-button-image-visited {
				display: none;
			}

			.no-touch &:hover {
				background-color: transparent;
        	img.iconpopup-button-image-default {
					display: none;
    		}
    		img.iconpopup-button-image-hover {
    			display: block;
    		}
    		img.iconpopup-button-image-visited {
    			display: none;
    		}
			}

			&.is-visited {
				img.iconpopup-button-image-default {
	    		display: none !important;
	    	}
	    	img.iconpopup-button-image-hover {
	    		display: none !important;
	    	}
	    	img.iconpopup-button-image-visited {
	    		display: block !important;
				}
			}
		}
	}

	&__btn-text {
		&.is-icon {
			padding-left: @item-padding / 2;
			.dir-rtl & {
				padding-left: inherit;
				padding-right: @item-padding / 2;
			}
		}
	}

	&__popup {
		.iconpopup__header {
			margin-bottom: @notify-title-margin;
			
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				min-width: 0;
			}
		}

		.notify__btn-container {
			clear: both;
		}

	.iconpopup__header-icon-container {
			.icon:before {
				font-size: @icon-size * 3;
			}
		}

	  .notify__body {
		width: 100%;
		padding-bottom: 0;

	    &.is-halfwidth {
			float: left;
			text-align: left;
	
			.dir-rtl & {
			  float: right;
			  text-align: right;
			}
	
			width: 60%;
			overflow: hidden;
	
			@media (max-width: @device-width-medium) {
			  width: 100%;
			  padding-bottom: (@notify-body-margin / 2);
			}
	    }
	  }

	  .iconpopup__graphic,
	  .iconpopup__video {
	    float: right;
	    width: 38%;
	    margin-left: 2%;
		margin-bottom: @notify-body-margin;

	    .dir-rtl & {
	      float: left;
	      margin-left: 0px;
	      margin-right: 2%;
	    }

	    img {
	      display: block;
	      margin-left: auto;
	      margin-right: auto;
	    }

	    @media (max-width: @device-width-medium) {
	      float: none;
	      margin-left: 0;
	      width: 100%;
	    }

	    &.is-fullwidth {
	      width: 100%;
	      margin-left: 0px;
	      margin-right: 0px;
	    }
	  }

	  .iconpopup__video {
		// Cross browser bug fixes
		// --------------------------------------------------
		.me-plugin {
			position: relative;
			width: 100%;
			height: 100% !important;
		}

		.me-plugin object {
			width: 100% !important;
			height: 100% !important;
		}

		.me-plugin embed {
			width: 100% !important;
			height: 100% !important;
		}
	  }
	}
}
