.iconpopup {

	&__inner {
		float: right;
    .dir-rtl & {
      float: left;
    }

		&.overlayed {
			position: absolute;

			right: 0;
			.dir-rtl & {
	      right: inherit;
				left: 0;
	    }
		}
	}

	&__items {
		font-size: 0;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
	}

	.btn-icon {
    background-color: @btn-color;
    color: @btn-color-inverted;

    .no-touch &:hover {
      background-color: @btn-color-hover;
      color: @btn-color-inverted-hover;
      .transition(background-color @duration ease-in, color @duration ease-in;);
    }
  }

	&__btn {
		img {
			display: block;
		}

		&.iconpopup-button-states-image {

			img.iconpopup-button-image-hover,
			img.iconpopup-button-image-visited {
				display: none;
			}

			.no-touch &:hover {
				background-color: transparent;
        img.iconpopup-button-image-default {
					display: none;
    		}
    		img.iconpopup-button-image-hover {
    			display: block;
    		}
    		img.iconpopup-button-image-visited {
    			display: none;
    		}
			}

			&.is-visited {
				img.iconpopup-button-image-default {
	    		display: none !important;
	    	}
	    	img.iconpopup-button-image-hover {
	    		display: none !important;
	    	}
	    	img.iconpopup-button-image-visited {
	    		display: block !important;
				}
			}
		}
	}

	&__btn-text {
		min-height: @icon-size;
	}

	&__popup {
	  .iconpopup__header {
	    margin-bottom: @notify-title-margin;

	    img {
	      display: block;
	      margin-left: auto;
	      margin-right: auto;
				min-width: 0;
	    }
	  }

	  .iconpopup__content {
	    overflow: auto;
	  }

	  .notify__body {
	    float: left;
	    text-align: left;

	    .dir-rtl & {
	      float: right;
	      text-align: right;
	    }

	    width: 60%;
	    overflow: hidden;

	    @media (max-width: @device-width-medium) {
	      width: 100%;
	      padding-bottom: (@notify-body-margin / 2);
	    }

	    &.is-fullwidth {
	      width: 100%;
				padding-bottom: 0;
	    }
	  }

	  .iconpopup__graphic {
	    float: right;
	    width: 38%;
	    margin-left: 2%;

	    .dir-rtl & {
	      float: left;
	      margin-left: 0px;
	      margin-right: 2%;
	    }

	    img {
	      display: block;
	      margin-left: auto;
	      margin-right: auto;
	    }

	    @media (max-width: @device-width-medium) {
	      float: none;
	      margin-left: 0;
	      width: 100%;
	    }

	    &.is-fullwidth {
	      width: 100%;
	      margin-left: 0px;
	      margin-right: 0px;
	    }
	  }
	}
}
