.extension-icon-popup {

	.icon-popup-inner {
		float: right;
    .dir-rtl & {
      float: left;
    }

		&.overlayed {
			position: absolute;

			right: @component-padding;
			.dir-rtl & {
	      right: inherit;
				left: @component-padding;
	    }
		}
	}

	.icon-popup-items {
		font-size: 0;
	}

	.icon-popup-item {
		display: inline-block;
		vertical-align: top;
	}

	.icon-popup-open-button {
		background-color: @item-color;
		color: @item-text-color;
		text-decoration: none;
		cursor: pointer;
		padding: @item-padding;
		min-height: @icon-size + (@item-padding*2);

		&.visited {
		  background-color: @item-visited-color;
		  &.show:hover {
			background-color: @item-color-hover;
			cursor:default;
		  }
		}

		&:hover {
			background-color: @item-color-hover;
			.icon-popup-open-button-text {
				color: @item-text-color-hover;
			}
		}
	}

	.icon-popup-graphic-button {
		padding: @item-padding;
		min-height: @icon-size + (@item-padding*2);

		img {
			display: block;
			max-height: @icon-size;
		}

		&.icon-popup-button-states-image {
			padding: 0;
			background-color: transparent;

			img {
				max-height: 100%;
			}

			img.icon-popup-button-image-hover,
			img.icon-popup-button-image-visited {
				display: none;
			}

			.no-touch &:hover {
				background-color: transparent;
        img.icon-popup-button-image-default {
					display: none;
    		}
    		img.icon-popup-button-image-hover {
    			display: block;
    		}
    		img.icon-popup-button-image-visited {
    			display: none;
    		}
			}

			&.visited {
				img.icon-popup-button-image-default {
	    		display: none !important;
	    	}
	    	img.icon-popup-button-image-hover {
	    		display: none !important;
	    	}
	    	img.icon-popup-button-image-visited {
	    		display: block !important;
				}
			}
		}
	}
}

.icon-popup-popup {
  .icon-popup-header {
    position: relative;
    padding-bottom: @notify-padding;

		@media all and (max-width: (@device-width-large + 20px)) {
      padding-bottom: @notify-padding / 2;
    }

    @media all and (max-width: (@device-width-small + 20px)) {
      padding-bottom: @notify-padding / 3;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .icon-popup-content {
    overflow: auto;
  }

	.notify-popup-title {
    text-align: center;
    padding-right: 0 !important;
  }

  .notify-popup-body {
    float: left;
    text-align: left;

    .dir-rtl & {
      float: right;
      text-align: right;
    }

    width: 60%;
    overflow: hidden;

    @media (max-width: @device-width-medium) {
      width: 100%;
      padding-bottom: (@notify-title-padding-bottom / 2);
    }

    &.fullwidth {
      width: 100%;
			padding-bottom: 0;
    }
  }

  .icon-popup-graphic {
    float: right;
    width: 38%;
    margin-left: 2%;

    .dir-rtl & {
      float: left;
      margin-left: 0px;
      margin-right: 2%;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: @device-width-medium) {
      float: none;
      margin-left: 0;
      width: 100%;
    }

    &.fullwidth {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .notify-popup-buttons {
    clear: both;
  }
}
